<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsrw.wms.inout.mapper.TAdvancePutMapper">

    <sql id="selectTAdvancePutVo">
        select a.id, a.origin_id, a.status, a.remark, a.create_by, a.create_time, a.update_by, a.update_time, a.dept_id, a.dept_name, a.del_flag
        from t_advance_put a
    </sql>

    <select id="selectTAdvancePutList" parameterType="com.xsrw.wms.inout.domain.dto.TAdvancePutDTO"
            resultType="com.xsrw.wms.inout.domain.vo.TAdvancePutVO">
        select
        a.id, a.origin_id, a.status, a.remark, a.create_by, a.create_time,
        b.code , b.`type`, b.dept_name, b.create_by as maker, b.new_local
        from t_advance_put a
        left join t_advance_delivery b on a.origin_id = b.id
        <if test="params.dataScope != null  and params.dataScope != ''">
            inner join sys_user u on u.user_name = a.create_by and u.status = '0'
            inner join sys_dept d on u.dept_id = d.dept_id and d.status = '0'
        </if>
        <where>
            a.del_flag = '0'
            <if test="originId != null ">and a.origin_id = #{originId}</if>
            <if test="status != null  and status != ''">and a.status = #{status}</if>
            <if test="type != null  and type != ''">and b.`type` = #{type}</if>
        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by a.create_time desc
    </select>

    <delete id="deleteTAdvancePutById" parameterType="Long">
         update t_advance_put set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteTAdvancePutByIds" parameterType="String">
        update t_advance_put set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
