<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsrw.wms.check.mapper.TTaskMapper">

    <sql id="selectTTaskVo">
        select ttask.id, ttask.origin_code, ttask.source_id, ttask.task_type, ttask.task_status, ttask.task_count, ttask.code, ttask.auditor, ttask.status, ttask.is_reassemble, ttask.relation_task_code, ttask.check_type, ttask.remark, ttask.create_by, ttask.create_time, ttask.update_by, ttask.update_time, ttask.dept_id, ttask.dept_name, ttask.del_flag
        from t_task ttask
    </sql>

    <sql id="selectTaskVo">
        select id, status,origin_code, source_id, task_type, task_status, task_count, code, dept_id, dept_name,
         auditor, create_by, create_time, update_by, update_time, remark, del_flag, is_reassemble,relation_task_code,check_type from t_task
    </sql>
    <!--    <select id="selectTTaskList" parameterType="com.xsrw.wms.check.domain.TTask" resultType="com.xsrw.wms.check.domain.TTask">-->
    <!--        <include refid="selectTTaskVo"/>-->
    <!--        <if test="params.dataScope != null  and params.dataScope != ''">-->
    <!--            inner join sys_user u on u.user_name = ttask.create_by and u.status = '0'-->
    <!--            inner join sys_dept d on u.dept_id = d.dept_id and d.status = '0'-->
    <!--        </if>-->
    <!--        <where>-->
    <!--            ttask.del_flag = '0'-->
    <!--            <if test="originCode != null  and originCode != ''"> and ttask.origin_code like concat('%', #{originCode}, '%')</if>-->
    <!--            <if test="sourceId != null "> and ttask.source_id = #{sourceId}</if>-->
    <!--            <if test="taskType != null  and taskType != ''"> and ttask.task_type = #{taskType}</if>-->
    <!--            <if test="taskStatus != null  and taskStatus != ''"> and ttask.task_status = #{taskStatus}</if>-->
    <!--            <if test="taskCount != null "> and ttask.task_count = #{taskCount}</if>-->
    <!--            <if test="code != null  and code != ''"> and ttask.code like concat('%', #{code}, '%')</if>-->
    <!--            <if test="auditor != null  and auditor != ''"> and ttask.auditor = #{auditor}</if>-->
    <!--            <if test="status != null  and status != ''"> and ttask.status = #{status}</if>-->
    <!--            <if test="isReassemble != null  and isReassemble != ''"> and ttask.is_reassemble = #{isReassemble}</if>-->
    <!--            <if test="relationTaskCode != null  and relationTaskCode != ''"> and ttask.relation_task_code like concat('%', #{relationTaskCode}, '%')</if>-->
    <!--            <if test="checkType != null  and checkType != ''"> and ttask.check_type = #{checkType}</if>-->
    <!--        </where>-->
    <!--        &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
    <!--        ${params.dataScope}-->
    <!--    </select>-->

    <delete id="deleteTTaskById" parameterType="Long">
         update t_task set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteTTaskByIds" parameterType="String">
        update t_task set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectTTaskList" parameterType="com.xsrw.wms.check.domain.TTask"
            resultType="com.xsrw.wms.check.domain.vo.TaskVO">
        select
        t1.id,
        t1.status,
        t1.origin_code,
        t1.source_id,
        t1.task_type,
        t1.task_status,
        t1.task_count,
        t1.code,
        t1.dept_id,
        t1.dept_name,
        t1.auditor,
        t1.create_by,
        t1.create_time,
        t1.update_by,
        t1.update_time,
        t1.remark,
        t1.del_flag,
        t1.is_reassemble,
        t1.relation_task_code,
        t1.check_type,
        t2.tray_type,
        t1.update_by as executeName
        from t_task t1
        left join t_check_delivery t2 on t1.source_id = t2.id
        left join t_material a on t2.material_id = a.id
        <where>
            t1.del_flag = '0'
            <if test="originCode != null  and originCode != ''">and t1.origin_code = #{originCode}</if>
            <if test="sourceId != null ">and t1.source_id = #{sourceId}</if>
            <if test="taskType != null  and taskType != ''">and t1.task_type = #{taskType}</if>
            <if test="taskStatus != null  and taskStatus != ''">and t1.task_status = #{taskStatus}</if>
            <if test="taskCount != null ">and t1.task_count = #{taskCount}</if>
            <if test="code != null  and code != ''">and t1.code like concat('%',#{code},'%')</if>
            <if test="materialCode != null  and materialCode != ''">and a.code like concat('%',#{materialCode},'%')</if>
            <if test="materialName != null  and materialName != ''">and a.name like concat('%',#{materialName},'%')</if>
            <if test="deptId != null ">and t1.dept_id = #{deptId}</if>
            <if test="status != null ">and t1.status = #{status}</if>
            <if test="auditor != null  and auditor != ''">and t1.auditor = #{auditor}</if>
            <if test="status != null and status != ''">and t1.status = #{status}</if>
            <if test="checkDeliveryStatus != null and  checkDeliveryStatus != ''">
                and t1.task_status in (${checkDeliveryStatus})
            </if>
            <if test="areaId != null">and t2.area_id = #{areaId}</if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                and DATE_FORMAT(t1.create_time,'%Y-%m-%d') between DATE_FORMAT(#{startTime},'%Y-%m-%d') and
                DATE_FORMAT(#{endTime},'%Y-%m-%d')
            </if>
            <if test="checkType != null and checkType != ''">and t1.check_type = #{checkType}</if>
        </where>
        order by t1.create_time desc
    </select>
    <select id="export" resultType="com.xsrw.wms.check.domain.vo.ExcelTaskVO">
        select
        t1.code,
        t1.task_type,
        t1.task_status,
        t1.task_count,
        t1.dept_id,
        t1.dept_name,
        t1.origin_code,
        t1.remark,
        t2.material_id,
        t2.location_id,
        t2.tray_id,
        t2.duty_personnel,
        t2.batch_number,
        t2.predict_count,
        t2.actual_count,
        t2.status,
        t3.code,
        t1.remark,
        t1.relation_task_code,
        t1.create_by,
        t1.create_time
        from t_task t1
        inner join t_task_detail t2 on t1.id = t2.task_id
        left join t_tray t3 on t2.tray_id = t3.id
        <where>
            t1 .del_flag ='0' and t2.del_flag ='0'
            <if test="taskType != null  and taskType != ''">and t1.task_type = #{taskType}</if>
            <if test="taskStatus != null  and taskStatus != ''">and t1.task_status = #{taskStatus}</if>
        </where>
        order by t1.create_time desc
    </select>

    <select id="selectTaskById" resultType="com.xsrw.wms.check.domain.vo.TaskVO">
        <include refid="selectTaskVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <update id="updateTaskStatus">
        update t_task set status = '1', task_status = #{taskStatus} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="getTaskInfoByTaskWcsId" resultType="com.xsrw.wms.check.domain.vo.TaskVO">
        SELECT tt.* from t_task tt
        INNER JOIN t_task_detail ttd on tt.id=ttd.task_id
        INNER JOIN t_task_wcs_detail ttwd on ttwd.origin_id=ttd.id
        WHERE ttwd.task_id=#{taskwcsId}  LIMIT 1
    </select>
</mapper>
