<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsrw.wms.base.mapper.TGoodShelfMapper">

    <sql id="selectTGoodShelfVo">
        select a.id, a.code, a.name, a.area_id, a.reservoir_id, a.status, a.remark, a.create_by, a.create_time, a.update_by, a.update_time, a.dept_id, a.dept_name, a.del_flag
        from t_good_shelf a
    </sql>

    <select id="selectTGoodShelfList" parameterType="com.xsrw.wms.base.domain.TGoodShelf"
            resultType="com.xsrw.wms.base.domain.vo.TGoodShelfVO">
        select a.id, a.code, a.name, a.area_id, a.reservoir_id, a.status, a.remark, a.create_by, a.create_time,
        tr.name as reservoirName, ta.name as areaName
        from t_good_shelf a
        left join t_reservoir tr on tr.id = a.reservoir_id
        left join t_area ta on ta.id = a.area_id
        <if test="params.dataScope != null  and params.dataScope != ''">
            inner join sys_user u on u.user_name = a.create_by and u.status = '0'
            inner join sys_dept d on u.dept_id = d.dept_id and d.status = '0'
        </if>
        <where>
            a.del_flag = '0'
            <if test="code != null  and code != ''">and a.code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''">and a.name like concat('%', #{name}, '%')</if>
            <if test="areaId != null "> and a.area_id = #{areaId}</if>
            <if test="reservoirId != null "> and a.reservoir_id = #{reservoirId}</if>
            <if test="status != null  and status != ''">and a.status = #{status}</if>
        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectTGoodShelfSimpleList" parameterType="com.xsrw.wms.base.domain.TGoodShelf"
            resultType="com.xsrw.wms.base.domain.TGoodShelf">
        <include refid="selectTGoodShelfVo"></include>
        <if test="params.dataScope != null  and params.dataScope != ''">
            inner join sys_user u on u.user_name = a.create_by and u.status = '0'
            inner join sys_dept d on u.dept_id = d.dept_id and d.status = '0'
        </if>
        <where>
            a.del_flag = '0'
            <if test="code != null  and code != ''">and a.code like concat('%', #{code}, '%')</if>
            <if test="name != null  and name != ''">and a.name like concat('%', #{name}, '%')</if>
            <if test="areaId != null "> and a.area_id = #{areaId}</if>
            <if test="reservoirId != null "> and a.reservoir_id = #{reservoirId}</if>
            <if test="status != null  and status != ''">and a.status = #{status}</if>
        </where>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <delete id="deleteTGoodShelfById" parameterType="Long">
         update t_good_shelf set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteTGoodShelfByIds" parameterType="String">
        update t_good_shelf set del_flag = '1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
